body {
  background: #FFBD59;
}

a {
  text-decoration: none;
}

.box {
  display: flex;
  justify-content: space-around;
}

#reg-svg {
  width: 20%;
}

#form-register {
  width: 35%;
  height: 80%;
  background: #D9D9D9;
  padding: 20px;
}

.form-item {
  padding: 2%;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

input {
  border-radius: 30px;
  color: black;
  padding: 10px;
}

button {
  color: white;
  background-color: #6C63FF;
  border-radius: 30px;
  padding: 10px;
  width: 10em;
}

#slogan {
  margin-top: 0%;
  font-size: 140px;
  margin-left: 50px;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;

}

.left {
  flex: 1;
}

.right {
  margin-top: 0%;
}

.container {
  background-color: #d9d9d9;
  height: 89vh;
  width: 190vh;
  margin: 10px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.logo {
  float: left;
  font-weight: 900;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #d9d9d9;
}

.nav-item {
  float: right;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}